<div id="container">
<div id="leftSide">
	<h2>Entidades</h2>
	<div id="entities">
		<div id="names">
			<h3>Nombre</h3>
			<ul>
				<li *ngFor="let nombre of nombres" (click)="onSelect(nombre)">
      				{{ nombre.name }}
      			</li>
			</ul>
		</div>
		<div id="emociones">
			<h3>Emociones relacionadas</h3>
			<ul>
				<li *ngFor="let sentimiento of sentimientos" (click)="onSelect(sentimiento)">
      				{{ sentimiento.name }}
      			</li>
			</ul>
		</div>
	</div>
	<div id="categories">
		<div id="category">
			<h3>Categorias</h3>
		
		</div>
		<div id="relacionadas">
			<h3>Emociones en general del texto</h3>
			<ul>
				<li *ngFor="let sentimiento of sentimientos" (click)="onSelect(sentimiento)">
      				{{ sentimiento.name }}
      			</li>
			</ul>
		</div>
	</div>
</div>
<div id="rightSide" style="text-align:center">
	<p>Emociones de las entidades, todavia no terminado</p>
</div>
</div>